{% load static %}
<!DOCTYPE html>
<html>

<head>
        <title> Judul dari Halaman </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
</head>

<body>
    Haloooo

    <h1> Header </h1>
    <h2> Header </h2>
    <p> Ini paragraf </p>
    <button>Button apa ya </button>

    <div style="background-color: blue; padding: 10px;">
        <div style="background-color: yellow;">
            
            <span>Box</span>
        </div>
    </div>

    <div class="outer-box">
        <div id="inner-box">
            <span>Box-2</span>
        </div>

    </div>
</body>

</html>